<h3 class="und-text">Ajouter un etudiant</h3>
<div class="form-group row gap-2 mb-3">
  <label for="Nom" class="col-xs-4 col-md-2 col-form-label">Nom : </label>
  <div class="col-xs-8 col-sm-4">
    <input type="text" class="form-control" id="Nom" [(ngModel)]="etudiant._nom">
  </div>
</div>
<div class="form-group row gap-2 mb-3" >
  <label for="Prenom" class="col-xs-4 col-md-2 col-form-label">Prénom : </label>
  <div class="col-xs-8 col-sm-4">
    <input type="text" class="form-control" id="Prenom" [(ngModel)]="etudiant._prenom">
  </div>
</div>
<div class="form-group row gap-2 mb-3">
  <label for="Ville" class="col-xs-4 col-md-2 col-form-label">Ville : </label>
  <div class="col-xs-8 col-sm-4">
    <input type="text" class="form-control" id="Ville" [(ngModel)]="etudiant._ville">
  </div>
</div>
<div class="form-group row gap-2 mb-3">
  <label for="Contact" class="col-xs-4 col-md-2 col-form-label">Contact : </label>
  <div class="col-xs-8 col-sm-4  gap-2 mb-3">
    <input type="text" class="form-control" id="Contact" [(ngModel)]="etudiant._contact">
  </div>
</div>

<button class="btn button3 gap-2 mb-3" routerLink="Confirmation" (click)="valider()">Valider</button>


