<div class="row">
  <div class="col-3">
    <button class="btn gap-2 mb-3" routerLink="Accueil"> <img src="assets/home.png" height ="30" width="30" /></button>
    <button class="btn button3  col-12 gap-2 mb-3" routerLink="ListeTheme">Thèmes</button>
    <button class="btn button3 col-12 gap-2 mb-3" routerLink="ListeEtudiant">Étudiant</button>
    <button class="btn button3 col-12 gap-2 mb-3" routerLink="AjouterEtudiant" >Créer profil</button>
    <button class="btn button3 col-12 gap-2 mb-3" routerLink="AjouterTheme" >Créer thème</button>
  </div>
  <div class="col-8 offset-1"><router-outlet></router-outlet></div>
</div>

